body{
	font: 20px Arial;
}

/* Menu */
.menu{
	height: 60px;
	list-style: none;
	padding: 10px;
	margin-right: 40px;
	margin-left: 40px;
}

.menu li{
	float: left;
	min-width: 355px;
	max-width: 400px;
	width: auto;
}

.menu li a:link, .menu li a:visited{
	display: block;
	color: #FFFFFF;
	background: #293245;
	padding: 6px 10px;
	border-right: 1px solid #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.menu li a:hover{
	background-color: #199BD2;
}
.menu li a:active{
	background-color: #808080;
}


/* Sous-Menu */
.menu .sousmenu{
	list-style-type: none;
	display: none;
	padding: 0px;
	margin: 0px;
	position: absolute;
}

.menu .sousmenu li{
	float: none;
	margin: Opx;
	padding: Opx;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
}

.menu .sousmenu li a:link, .menu .sousmenu li a:visited{
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #808080;
}

.menu .sousmenu li a:hover{
	background-color: #199BD2;
}

.menu li:hover .sousmenu{
	display: block;
}

/* Amélioration ... */
