/* Style de la page */
body{
	background-color : #d3d3d3;
	font-family : "Arial", sans-serif;
}


#container{
	width: 60%;
	background-color: #fff;
	margin: 20px auto;
	overflow: auto;
	padding: 25px;
	border : 3px solid;
}

header{
	text-align: center;
	border-bottom: 3px double #2ed;
}


/* Style des écritures */
p strong{
	color: #0D018E;
	padding-left: 5px;
}

li{
  list-style-type: none;
  font-style: italic;
}


#resultat h3{
	background-color: yellowgreen;
	padding: 10px;
	margin: 10px 0;
}

#resultat span{
	color: red;
	font-weight: bold;
}


/* Les boutons */

input[type="submit"]{
	display: inline-block;
	background-color: grey;
	border-radius: 5px; 
	border: 4px double;
	color: #fff;
	text-align: center;
	font-size: 13px;
	padding: 5px;
	margin: 5px;
	width: 80px;
	cursor: pointer;
}