/* La page */
.page{

	width: 850px;
	height: 1000px;
	border: 0px;
	box-shadow: 2px 2px lightgreen;
	font-size: 16px;
	margin: auto;
	border-top: 10px solid yellowgreen;
	border-bottom: 10px solid yellowgreen;
}
/* ///////////////////////////// */




/* Haut de la page */
.header{
	border: 1px;
	height: 200px;
	padding: 10px;
	background-color: lightyellow;
	font-size: 13px;
}

.gaucheHeader{
	float: left;
}

img{

	border-radius: 50%;
}

.droiteHeader{
	float: right;
}

td.n°facture{

	border-bottom: 1px solid;
}
/* ///////////////////////////// */




/* Centre de la page */
.section{
	width: 800px;
	height: 300px;
	border: 3px solid transparent;
	font-size: 15px;
	margin-top: 10px;
}
/* ///////////////////////////// */




/* tableau Expéditeur et destinataire de la facture */
.expediteur{
	float: left;
	border: 2px solid transparent;
	margin-top: 20px;
	padding: 10px;
	width: 40%;
	height: 200px;
	margin-left: 10px;
	font-family: fantasy;
	font-size: 15px;
	display: inline-block;
	list-style-type: none;
}

.destinataire{
	border: 2px solid transparent;
	margin-top: 5px;
	margin-right: 0px;
	width: 40%;
	height: 200px;
	padding: 10px;
	float: right;
	font-family: fantasy;
	font-size: 15px;
	display: inline-block;
	list-style-type: none;
}
/* ///////////////////////////// */



/* Les Titres */
h1{
	color: blueviolet;
	font-size: 25px;
}

h5{
	border-bottom: 1px solid;
	width: 300px;
}
/* ///////////////////////////// */


/* Le grand tableau des quantitées / Prix ... */
.tableauRecapitulatif{
	width: 800px;
	display: block;
}

.titresColonnes{
	border-style: none;
	text-align: center;
	background-color: yellowgreen;
	color: white;
}

/* lignes grises */
.ligneColoree{ 
	background-color: lightgrey;
 }

/* conditions du dessous de tab */
.conditions{
	float: left;
	font-size: 10px;
	font-style: italic;
}
/* ///////////////////////////// */




/* Tableau Final (sous total - Impots ...) */
table.calcul{
	float: right;
	border: 0px;
	border-spacing: 0;
	text-align: right;
}

.calcul input{
	border-style: hidden;
	border-bottom: 1px solid black;
	float: right;
	text-align: right;
	width: 95%;
	display: block;
}

.calcul_Final{
	float: right;
	font-size: 18px;
	background-color: lightyellow;
	font-weight: bold;
	border : 3px solid salmon;
	display: block;
}

.calcul_Final input{
	border-style: hidden;
	float: right;
	text-align: right;
	background-color: transparent;
	margin-right: 1px;
	display: block;
}
/* ///////////////////////////// */




/* Les boutons d'envoi */
div.boutons{
	float : left;
	width: 200px;
	padding: 10px;
	margin-top: 50px;
	transition: all 0.5s
}

.boutons span {
  	display: inline-block;
  	transition: 0.5s;
}

.boutons:hover span {
	padding-left: 5px;
}
/* ///////////////////////////// */



